.heading-wrap{
    background-image: url("./src/img/pizzaBackground.jpg");
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-top: 100px;
    filter: blur(5);
    background-position: center;
}
.heading-h{
    background-color: rgba(245, 245, 245, 0.63);
    display: inline;
    margin: auto;
    font-size: xxx-large;
    padding: 0.5em;
}